<%= content_for :body_id, "new" %>
<section class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h1>New journal entry</h1>
        <%= render "form", entry: @entry %>
        <section>
          <%= link_to "All entries", entries_path, class: "btn j-btn d-inline-block" %>
        </section>
      </div>
    </div>
  </div>
</section>