<%= content_for :body_id, "faqs" %>
<section id="hero" class="container-fluid">
	<div class="container-lg">
		<div class="row">
			<div class="col-lg-8">
				<h1>Frequently asked questions</h1>
				<p class="col-lg-8">Find information on how to use journalite, psychotherapy, CBT, how to write a gratitude journal and more. journalite can help you craft your best possible journals and thought records for future keeping. Remember to be mindful and look after yourself. Your well-being is important, and we want you to your best possible self.</p>
			</div>
			<div class="col-lg-4 icon">
				<%= image_tag "happy-journalite-hero.png", width: "300px", height: "auto", class: "d-block" %>
			</div>
		</div>
	</div>
</section>
<section class="container-fluid">
	<div class="container-lg">
		<div class="row">
			<div id="how-to-use" class="col-lg-8">
				<h2>How to use <strong>journalite</strong></h2>
				<p>Getting started tends to be the difficult part of any journey. Journaling is no exception. Firstly, create an account by registering. Once you're account it set up, click "Journal" in the menu at the top and click on "New entry". Enter a date and time and then tick the box if it's a gratitude entry. The "Dear Journal" section is where you start typing your experiences, thoughts, feelings or actions for that day. How much detail you choose to write is your decision. Try to keep your journal informal regarding your use of language; however, if you feel more comfortable writing in a formal manner it's a good practice to be concise. Remember, it's your journal. It's private.</p>
			</div>
		</div>
	</div>
</section>
<section class="container-fluid">
	<div class="container-lg">
		<div class="row">
			<div id="cognitive-distortions" class="col-lg-8">
				<h2>Cognitive distortions</h2>
				<table>
					<thead>
						<tr>
							<th>Type of cognitive distortion</th>
							<th>Example</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>All-or-nothing thinking</td>
							<td>"If I'm not a total success, I'm a failure".</td>
						</tr>
						<tr>
							<td>Catastrophising (fortune telling)</td>
							<td>"I'll be so upset that I won't be able to function at all".</td>
						</tr>
						<tr>
							<td>Disqualifying or discounting the positive</td>
							<td>"I did that project well, but that doesn't mean I'm competent; I just got lucky".</td>
						</tr>
						<tr>
							<td>Emotional reasoning</td>
							<td>"I know I do a lot of things all right at work, but I still feel like I'm a failure".</td>
						</tr>
						<tr>
							<td>Labelling</td>
							<td>"I'm a loser". "He's bad".</td>
						</tr>
						<tr>
							<td>Magnification or minimisation</td>
							<td>"Getting a mediocre evaluation proves how inadequate I am". "Getting high marks doesn't mean I'm smart".</td>
						</tr>
						<tr>
							<td>Mental filter (selective abstraction)</td>
							<td>"I'm doing a lousy job because I received a low rating on my evaluation". Despite that it contained several high ratings.</td>
						</tr>
						<tr>
							<td>Mind reading</td>
							<td>"He's thinking that I don't know the first thing about this project".</td>
						</tr>
						<tr>
							<td>Overgeneralisation</td>
							<td>"I don't have what it takes to make friends because I felt uncomfortable at the social gathering".</td>
						</tr>
						<tr>
							<td>Personalisation</td>
							<td>"The repairman was curt to me because I did something wrong".</td>
						</tr>
						<tr>
							<td>'Should' and 'must' statements</td>
							<td>"It's terrible that I made a mistake. I should always do my best".</td>
						</tr>
						<tr>
							<td>Tunnel vision</td>
							<td>"My son's teacher cannot do anything right. He's critical and insensitive and lousy at teaching".</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>