*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	position: relative;
}
h1, h2, h3, h4, h5, h6, p, li, td
{
	font-family: "Libre Baskerville", serif;
}
a, button
{
	color: #a207ea;
	font-family: "Arial", sans-serif;
}
a:hover
{
	color: ;
	text-decoration: none;
}
h1
{
	font-size: 50px;
	margin: 25px 0;
}
h2
{
	font-size: 38px;
	margin: 25px 0;
}
p
{
	margin: 30px 0;
}
nav ul li a, button
{
	font-family: "Arial", sans-serif;
}
section
{
	padding: 40px 0;
}
.box
{
	border: 1px solid #ddd;
	border-radius: 3px;
	display: inline-block;
	padding: 0 10px;
	margin: 10px 0;
	background-color: #f8f8f8;
}
form section
{
	padding: 0;
	position: relative;
}
#hero
{
	background: linear-gradient(to bottom, #fffa68, #fff 85%);
}
#journal #hero
{
	background: linear-gradient(to bottom, #a207ea, #fff 85%);
}
#hero h1
{
	color: #596780;
	margin-top: 30px;
}
#hero .j-btn
{
	font-size: 20px;
}
.journalite
{
	font-size: 50px;
}
#hero .j-btn
{
	box-shadow: 3px 3px 7px #848484;
}
#entries
{
	margin: 50px 0 0;
}
#view .log
{
	height: auto;
	margin-bottom: 30px;
	padding-left: 40px;
	position: relative;
}
#edit #hero
{
	height: auto;
	background: linear-gradient(to bottom, #e3b190, #fff 85%);
}
.j-btn
{
	color: #fff;
	font-size: 18px;
	margin: 0 4px;
	background-color: #a207ea;
	border: 1px solid transparent;
}
.j-btn:hover
{
	color: #a207ea;
	background-color: #fff;
	border: 1px solid #a207ea;
}
.new
{
	background-color: #2ecc71;
}
.new:hover
{
	color: #2ecc71;
	background-color: #fff;
	border-color: #2ecc71;
}
.edit
{
	background-color: #eaa207;
}
.edit:hover
{
	color: #eaa207;
	background-color: #fff;
	border-color: #eaa207;
}
.delete
{
	background-color: #f32b2b;
}
.delete:hover
{
	color: #f32b2b;
	background-color: #fff;
	border-color: #f32b2b;
}
nav.navbar
{
	padding: 0;
}
.nav-item
{
	margin: 0 5px;
	background-color: #f1f2f4;
	border-radius: 5px;
	font-weight: bold;
}
.case
{
	padding: 50px 0;
}
.log
{
	height: 520px;
	margin: 0 10px 10px 0;
	padding: 10px 20px;
	background: linear-gradient(to bottom, #fff 98%, #eee 1px);
	background-size: 100% 5%;
	background-position: 0 24px;
	box-shadow: 3px 3px 5px #ccc;
	border: 1px solid #f2f2f2;
	border-radius: 3px;
}
#view .log p
{
	word-break: unset;
	hyphens: none;
}
.log p
{
	word-break: break-all;
	hyphens: auto;
}
#view .log p:nth-of-type(3)
{
	overflow: visible;
	-webkit-line-clamp: unset;
	text-overflow: unset;
	line-height: 1.8;
}
.log p:nth-of-type(3)
{
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	text-overflow: ellipsis;
}
.page
{
	width: 100%;
	height: 300px;
	padding: 4px 8px;
	border: 1px solid #d8d8d8;
	border-radius: 3px;
}
.shorten
{
	height: 100px;
}
.page:focus, input:focus
{
	border-color: #a207ea;
	outline: 0;
}
.guide
{
	font-size: 14px;
	color: #000;
	margin: 10px 0;
	font-family: "Arial", sans-serif;
}
.happy-journalite
{
	position: absolute;
	right: 20%;
	bottom: 60px;
	transform: translate(50%, 0);
}
label, .log p strong
{
	font-size: 18px;
	color: #a207ea;
	font-weight: bold;
	margin: 8px 0;
	font-family: "Arial", sans-serif;
}
#g-entry
{
	margin-left: 27px;
}
input[type="checkbox"]
{
	width: 20px;
	height: 20px;
	opacity: 0;
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 99;
	cursor: pointer;
}
.tick
{
	width: 20px;
	height: 20px;
	top: 10px;
	left: 10px;
	position: absolute;
	background-color: #f1f2f4;
	border: 1px solid #d8d8d8;
	transition: 0.2s ease-in-out 0s;
}
input[type="checkbox"]:hover ~ .tick
{
	background-color: #d8d8d8;
}
input[type="checkbox"]:checked ~ .tick, .tick:checked
{
	border: 0;
	background-color: #a207ea;
}
.tick:after
{
	display: none;
	content: "";
	position: absolute;
}
input[type="checkbox"]:checked ~ .tick:after
{
	display:  block;
}
section .tick:after
{
	width: 7px;
	height: 14px;
	top: 2px;
	left: 7px;
	border: solid #fff;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
input[type="radio"]
{
	display: none;
}
.circle
{
	width: 56px;
	height: 56px;
	top: -3px;
	left: 25px;
	position: absolute;
	transition: 0.2s ease-in-out 0s;
	border-radius: 100%;
	cursor: pointer;
}
input[type="radio"]:hover ~ .circle, img:hover .circle
{
	background-color: transparent;
	border: 1px solid #a207ea;
}
input[type="radio"]:checked ~ .circle, .circle:checked
{
	border: 2px solid #a207ea;
	border-radius: 100%;
}
.circle:after
{
	display: none;
	content: "";
	position: absolute;
}
.mood
{
	text-align: center;
	position: relative;
}
.mood > img
{
	transition: 0.2s ease-in-out 0s;
}
.greyscale
{
	filter: grayscale(100%);
}
.icon img
{
	margin: 0 auto;
}
.success p
{
	color: #2ecc71;
	margin: 0;
	padding: 0;
	font-family: "Arial", sans-serif;
}
.error
{
	color: #e74c3c;
}
.sticky
{
	position: fixed;
}
.col-lg-4 .sticky
{
	padding-right: 44px;
}
.paginator
{
	width: auto;
	height: auto;
}
.pagination
{
	background-color: #fff;
	border: 1px solid #a207ea;
	border-radius: 3px;
}
.paginator ul li a
{
	font-size: 16px;
	color: #a207ea;
	padding: 5px;
	text-decoration: none;
}
.paginator ul li.active a
{
	color: #fff;
	background-color: #a207ea;
}
address
{
	margin: 0;
	font-family: "Arial", sans-serif;
}
footer
{
	color: #fff;
	margin-top: 30px;
	padding: 30px 0;
	text-align: center;
	position: relative;
	bottom: 0;
	background-color: #a207ea;
}
@media only screen and (max-width: 991px)
{
	#hero img
	{
		width: auto;
	}
	.happy-journalite
	{
		right: 50%;
	}
	.sticky
	{
		position: static;
	}
}